<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

   <!--<main class="page-content" aria-label="Content" style="background-image: url('/booklet6.jpg');">
   -->
   <main class="page-content" aria-label="Content">
     
     <img id="blurimage" class="background-image" src='/booklet6.jpg' style="position: absolute; filter: blur(5px); z-index: -1; top: 290px; background-size: cover;">
     <div class="wrapper" style="z-index: 0;">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
